@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.imgg{
  margin: 20px;
  display: flex;
  justify-content: center;
}
.bears {
  align-items: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.titleName {
  text-align: center;
  font-size: 45px;
}